<!doctype html>
<html lang="en">
  <head>
  	<title>Forget Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/css/style.css'%}">
  </head>
	<body class="img js-fullheight" style="background-image: url({% static 'images/code.jpg'%});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Forgot your password</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Send your self a login  Here</h3>
		      	<form  method="post" class="signin-form">

{% csrf_token %}

                
                         
                       
                        <div class="form-group">
                            <input
                            required
                          type="name"
                          name="username"
                          placeholder="Enter your UserName"
                          class="form-control"
                          autocomplete="off"
                          id="password"
                        >
                             
                        </div>
					{% comment %} {% csrf_token %}
		      		<div class="form-group">
		      			{{form.username}}

		      		</div>
					  <div class="form-group">
						{{form.email}}
						</div>
	            <div class="form-group">
				{{form.password1}}
	              <span toggle="#id_password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
				<div class="form-group">
					{{form.password2}}
					  <span toggle="#id_password2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>{% endcomment %}
	            
                    <div class="form-group">
                        {% if messages %}
              {% for message in messages %}
                        <h6  style="color:red;">Unable to send email: </h6>
                        <p style="color:red;">{{message}}</p>
              {% endfor %}
                        {% endif %} 
                        <button type="submit" class="form-control btn btn-primary submit px-3">Reset password</button>
                    </div>
	          </form>
			  
	         

			<div>
				
			</div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	


	<script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/popper.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>

	</body>
</html>

